/* label color */
.custom-color label {
    color: #cecece;
}

/* label focus color */
.custom-color input[type=text]:focus + label {
    color: white;
}

.custom-color input[type=text] {
    color: #fafafa;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 1px 0 0 #eeeeee;
}

/* valid color */
.custom-color input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.custom-color input[type=text].invalid {
    border-bottom: 1px solid darkred;
    box-shadow: 0 1px 0 0 #000;
}